@import "_nullstyle";
/*---------Fonts---------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body{
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   min-width: 1345px;
   user-select: none;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
}
.container {
   max-width: 1345px;
   margin: 0px auto;
   padding: 0px 15px 0px 15px;
   box-sizing: content-box;
   position: relative;
}
.page {
   flex: 1 1 auto;
}

._ibg {
   position: relative;
}
._ibg img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}

.title {
   font-size: 40px;
   line-height: 100%;
   color: #5B6460;
}

.text {
   font-weight: 300;
   font-size: 16px;
   line-height: 187.5%;
   color: #000000;
}
.read {
   font-weight: 600;
   font-size: 16px;
   line-height: 30px;
}

.book-now {

   &__body {
      width: 383px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 20;
   }

   &__button {
      background-color: #5B6460;
      flex: 0 0 263px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 300;
      font-size: 14px;
      line-height: 200%;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #FFFFFF;
      transition: all 0.2s ease-in-out;
      &:hover{
         background-color: #333333;
      }
   }

   &__price {
      width: 120px;
      height: 100%;
      background-color: #E9ECE0;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: center;
      padding: 0px 31px 0px 28px;
      font-weight: 300;
      color: #333333;
   }

   &__from {
      align-self: start;
      font-size: 12px;
      line-height: 150%;
   }

   &__amount {
      font-size: 20px;
      line-height: 140%;
      font-weight: bold;
   }

   &__time {
      font-size: 12px;
      line-height: 150%px;
   }
}
/*---------Header---------*/

.header {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 50;
   width: 100%;
   background-color: #fff;

   &__container {}

   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
   }

   &__logo {
      padding: 0px 0px 0px 146px;
   }

   &__menu {
   }

   &__button {
      width: 200px;
      height: 60px;
      background: #5B6460;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 300;
      font-size: 14px;
      line-height: 200%;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #FFFFFF;
      transition: all 0.2s ease-in-out;
      &:hover {
         background-color: #333333;
      }
   }
}


.menu {

   &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      & li:not(:last-child){
         margin: 0px 36px 0px 0px;
      }
   }

   &__item {}

   &__link {
      font-weight: 300;
      font-size: 14px;
      line-height: 171.4%;
      text-transform: uppercase;
      color: #000000;
      transition: all 0.2s ease-in-out;
      &:hover {
         text-decoration: underline;
      }
   }
}

/*----------Preview--------*/

.page {
   &__preview {}
}

.preview {
   position: relative;
   &__container {}

   &__body {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      padding: 195px 26px 0px 26px;
      margin: 0px 0px 150px 0px;
   }

   &__title {
      font-weight: 300;
      font-size: 70px;
      line-height: 102.4%;
      text-align: right;
      color: #FFFFFF;
      margin: 0px 0px 34px 0px;
   }

   &__sub-title {
      font-family: 'Mulish';
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      text-align: center;
      color: #FFFFFF;
      max-width: 417px;
      align-self: end;
      padding: 0px 84px 0px 0px;
      margin: 0px 0px 314px 0px;
   }

   &__arrow {
      align-self: center;
      margin: 0px 0px 82px 0px;
   }

   &__cover {
      position: absolute;
      width: 100%;
         height: 100%;
      top: 0;
      left: 0;
      img {
         width: 100%;
         height: 100%;
      }
   }
}

/*----------Cabins---------*/

.page {

   &__cabins {}
}

.cabins {

   &__container {}

   &__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   &__main {
      display: flex;
      margin: 0px 0px 150px 0px;
   }

   &__info {
      flex: 1 1 50%;
      padding: 0px 105px 0px 105px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
   }

   &__page {
      flex: 1 1 50%;
   }

   &__image {
      height: 100%;
      img {
         width: 100%;
         height: 100%;
      }
   }

   &__galery {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0px -12px 150px -12px;
   }

   &__items {
      padding: 0px 12px 0px 12px;
      width: 100%;
      height: 100%;
   }
}

.info {

   &__title {
      margin: 0px 0px 50px 0px;
   }

   &__text {
      margin: 0px 0px 25px 0px;
   }
   &__read {
      
   }

   a {
      color: #5B6460;
      &:hover {
         text-decoration: underline;
      }
   }

   
   
}

.item {
   &__image {
      width: 100%;
      height: 100%;
      img {
         width: 100%;
         height: 100%;
      }
   }
}
/*---------Location--------*/

.page {
   &__location {
         background-color: #E9ECE0;
   }
}

.location {

   &__container {
      position: relative;
   }

   &__body {
   }

   &__main {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
   }

   &__inform {
      flex: 1 1 50%;
      padding: 0px 105px 0px 105px;
   }

   &__read {
      color: #5B6460;
      &:hover {
         text-decoration: underline;
      }
   }

   &__page {
      flex: 1 1 50%;
      position: relative;
   }

   &__image {
      img {
         width: 100%;
         height: 100%;
      }
   }
   &__point {
      position: absolute;
      width: 176px;
      height: 176px;
      top: 50%;
      left: 50%;
   }
}

.inform {

   &__title {
      margin: 0px 0px 50px 0px;
   }

   &__text {
      margin: 0px 0px 25px 0px;
   }
}
.cabins {

   &__book {
      position: absolute;
      top: -220px;
      left: 120px;
   }
}
/*---------Facillities-------*/

.page {

   &__facllities {
      background-color: #5B6460;
   }
}

.facllities {

   &__container {
      max-width: 830px;
   }

   &__body {
      padding: 150px 0px 0px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
   }

   &__title {
      margin: 0px 0px 100px 0px;
      font-weight: 300;
      font-size: 40px;
      line-height: 100%;
      color: #FFFFFF;
   }

   &__column {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin: 0px 0px 67px 0px;
   }

   &__items {
      flex:1 1 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      margin: 0px 0px 83px 0px;
      transition: all 0.2s ease-in-out;
      &:hover {
         transform: scale(1.1);
      }
   }
}

.items {

   &__icons {
      margin: 0px 0px 20px 0px;
      
   }

   &__title {
      font-weight: 400;
      font-size: 18px;
      line-height: 155.55%;
      text-align: center;
      color: #FFFFFF;
   }
}
/*----------More------------*/

.page {

   &__more {}
}

.more {

   &__container {
      position: relative;
   }

   &__body {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 0px 150px 0px;
   }

   &__image {
      flex: 1 1 50%;

   }

   &__round-but {
      position: absolute;
      left: 45%;
      top: 40%;
      width: 157px;
      height: 157px;
      background-color: #E9ECE0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      a {
         font-weight: 300;
         font-size: 16px;
         line-height: 22px;
         color: #333333;
      }
      a:hover {
         text-decoration: underline;
      }
   }
}
/*---------Contacts--------*/

.page {

   &__contacts {}
}

.contacts {

   &__container {
      max-width: 1115px;
   }

   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0px 0px 133px 0px;
   }

   &__networks {
      display: flex;
      flex-direction: column;
   }

   &__titel {
      margin: 0px 0px 50px 0px;
   }

   &__place {
      font-weight: 300;
      font-size: 16px;
      line-height: 187.5%;
      color: #000000;
      margin: 0px 0px 20px 0px;
   }

   &__phone {
      font-weight: 300;
      font-size: 16px;
      line-height: 187.5%;
      color: #000000;
      margin: 0px 0px 2px 0px;
   }

   &__email {
      font-weight: 300;
      font-size: 16px;
      line-height: 187.5%;
      color: #000000;
      margin: 0px 0px 50px 0px;
   }
   &__email:hover {
      text-decoration: underline;
   }

   &__icons {
      display: flex;
      justify-content: start;
      align-items: center;
   }


   &__images {}

   &__image {}

   &__book {}
}


.icon {

   &__item {
      transition: all 0.2s ease-in-out;
      &:hover {
         transform: scale(1.1);
      }
   }
   
   &__item:not(:last-child) {
      margin: 0px 50px 0px 0px;
   }
}
/*---------Footer---------*/
.footer {
   background-color: #5B6460;
   
   &__container {}

   &__body {
      display: flex;
      height: 477px;
      padding: 103px 0px 0px 0px;
   }

   &__news {
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
   }

   &__policy {
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: end;
   }
}

.news-item {

   &__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 187.5%;
      color: #FFFFFF;
      margin: 0px 0px 40px 0px;
   }

   &__form {
      input {
         width: 432px;
         font-style: italic;
         font-weight: 300;
         font-size: 16px;
         line-height: 187.5%;
         border-bottom: 1px solid #EFEFEF;
         background: url('../img/footer/arrow.svg') 390px 0px no-repeat;
      }
      margin: 0px 0px 20px 0px;
   }

   &__signing {
      font-weight: 300;
      font-size: 16px;
      line-height: 187.5%;
      color: #FFFFFF;
      opacity: 0.7;
      margin: 0px 0px 70px 0px;
   }

   &__copy {
      font-weight: 300;
      font-size: 14px;
      line-height: 214.5%;
      color: #EFEFEF;
      opacity: 0.7;
   }
}

.policy-item {

   &__docs {
      display: flex;
      margin: 0px 0px 50px 0px;
   }

   &__icons {
      display: flex;
   }

   &__icon {}
      &__icon:not(:last-child){
         margin: 0px 40px 0px 0px;
      }
}

.doc {

   &__item {
      a {
         font-weight: 300;
         font-size: 14px;
         line-height: 171.5%;
         text-transform: uppercase;
         color: #FFFFFF;
      }
      a:hover {
         text-decoration: underline;
      }
   }
      &__item:not(:last-child) {
         margin: 0px 33px 0px 0px;
      }
}


